* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-row-around {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.flex-row-between {
  display: flex;
  justify-content: space-between;
}

header {
  display: inline;
}

nav {
  width: 100%;
  padding: 5px 40px;
  background: #fbb454;
  position: sticky;
  top: 0;
}

.navbar h3 {
  font-weight: 700;
  font-size: 20px;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all 0.3s ease-in-out;
}
.navbar ul li {
  list-style-type: none;
}
.navbar ul li a {
  margin-right: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.navbar ul li a:hover {
  font-weight: bold;
}

.jumbotron {
  background: linear-gradient(90deg, black, rgb(202, 198, 198));
}
.jumbotron .flex-column {
  padding: 150px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.jumbotron img {
  width: 30%;
  max-height: 500px;
  object-fit: contain;
  object-position: right;
}
main {
  font-family: Arial, Helvetica, sans-serif;
}
article {
  padding: 40px;
}

#content article:nth-child(even) {
  background: black;
  color: #fbb454;
}

#content article .flex-column:nth-child(even) {
  margin-right: 0;
}

#content article header {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: capitalize;
}

#content article img {
  width: 30%;
  max-height: 300px;
  object-fit: contain;
  object-position: right;
}

#content article section .flex-column {
  margin: auto;
  margin-right: 100px;
  font-size: 20px;
}

aside {
  background-color: #ececec;
  color: black;
}

.profile header {
  font-size: 20px;
  text-align: center;
  display: block;
}

.profile img {
  border-radius: 100%;
  width: 200px;
}

.profile a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #ececec;
  padding: 15px;
  color: black;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .jumbotron .flex-column {
    padding: 50px;
  }

  .hamburger {
    display: block;
    margin: auto 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu {
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    background-color: #fbb454;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .menu.active {
    top: 50px;
    left: 0;
  }

  .menu li {
    margin: 10px;
  }
  #content article section .flex-row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  #content article section .flex-row .flex-column {
    text-align: center;
    margin-right: 0;
  }
  #content article img {
    margin: auto;
  }
}
